#hobby-applications {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 60vh;
    background: rgb(233, 230, 230);
    padding: 0;
    padding-bottom: 5rem;
    margin: 0;
}

#hobby-applications .applicatins-box {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 2rem 0;
    display: -webkit-inline-box;
    text-align: -webkit-center;
}
#hobby-applications .applications-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 1rem;
}
#hobby-applications .applications-title h4 {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: rgb(5, 18, 58);
}



#hobby-applications .best-applicatins {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 0.5rem 0;
    width: 97%;
    height: 32rem;
}

#hobby-applications .card-app-box {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    display: -webkit-inline-box;
    text-align: -webkit-center;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.6);
}
.applicatins-box .img-box-app {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    overflow: hidden;
}
.applicatins-box .img-box-app img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    border-radius: 0;
}

.applicatins-box .content-card-app {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: initial;
    flex-direction: column;
    box-sizing: border-box;
    line-height: 20px;
    background: rgba(105, 0, 153, 0.2);
    padding: 3rem;
}

.applicatins-box .content-card-app h5 {
    color: #fff;
    font-weight: bold;
    margin-top: 2rem;
}
.applicatins-box .content-card-app p {
    color: rgb(255, 255, 255);
    font-weight: 600;
    width: 60%;
}
.applicatins-box .content-card-app a {
    cursor: pointer;
    color: rgb(255, 255, 255);
    border: rgb(255, 255, 255) solid 1px;
    padding: .3rem 1rem .4rem;
    border-radius: 1rem;
    transition: 0.5s;
    text-decoration: none;
}
.applicatins-box .content-card-app a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.applicatins-box .icon-link {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    color: #fff;
    background-color: rgba(77, 1, 255, 0.5);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    padding: 0.2rem 0.4rem;
}
