#messages-body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#messages-body .row {
    display: -webkit-box;
    justify-content: center;
    align-items: center;
}
#messages-body .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem!important;
    margin: 0;
    width: 100%;
}
#messages-body .compose {
    padding: 0 .7rem .5rem 0.2rem;
    font-weight: 500;
    color: #262b40;
    background: #61dafb;
}
#messages-body .compose span {
    font-size: 1.5rem;
    font-weight: 800;
}
#messages-body .button-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#messages-body .button-status button {
    color: #fff;
    background: #262b40;
    border: 1px solid #262b40;
    border-radius: .3rem;
    padding: .5rem 1rem;
    margin-left: 1rem;
}
#messages-body .button-status button:hover {
    color: #61dafb;
}
#messages-body .button-status .icon-buttons {
    font-size: 1.5rem;
    color: #fff;
    background: #262b40;
    border-radius: .3rem;
    padding: .55rem;
    display: flex;
    align-items: flex-start;
}
#messages-body .button-status .icon-buttons svg {
    margin: 0 .5rem;
}
#messages-body .button-status .icon-buttons svg:hover {
    color: #61dafb;
    cursor: pointer;
}
/* #header-messages .table {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */