.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0) !important;
    padding-left: calc(var(--bs-gutter-x) * .0) !important;
    margin-top: var(--bs-gutter-y);
}
#newsroom {
    width: 100%;
    text-align: -webkit-center;
}

#newsroom .body-news-one {
    display: -webkit-box;
}