.app{
    width: 100%;
}
.app .row{
    width: 100%;
    display: flex;
}
.app-cover{
    width: 100%;
    height: 100vh;
}

@media screen and (max-width: 690px) {
    .app-cover{
        margin-top: 3rem;
    }
}

.app-test{
    width: 100%;
    height: 100vh;
}